/* body{
    padding-top: 40px;
} */
html {
	scroll-behavior: smooth;
}
.headerLogo{
    height: 100px;
    width: 150px;
}

.nameBrand{
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    position: relative;
    /* z-index:1; */
    top: 200px;
    /* line-height: 350px; */
    /* max-width: 960px; */
    margin: 0 auto;
    left:0;
    right:0;
    bottom:auto;
    color: black;
}
.aboutTitle{
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;
    color: black;
}
p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
}



.bannerDiv{
    width: 100%;
    height: 900px;
    background-image: url("../images/scaledDownBanner.JPG");
    background-size: 100%;
    background-repeat: no-repeat;
    /* background-position: 50% 50%; */
}

.bannerPhoto{
    width: 100%;
    height: auto;
}

.filler{
    height: 500px;
}
.bottomFiller{
    height: 300px;
}

/*********************************************************************/
/*                 *****Portfolio Page CSS******                     */
.portfolio-container{
    background-color:#e0e0e0!important;
    padding: 10px 20px 25px 20px;
    margin: 10px auto;
    width: 960px;
    box-sizing: border-box;
    border: 1px solid #dddddd;
}
.content{
    padding: 15px;
    background-color: white;
    box-sizing: border-box;
    height: 250px;
    width: 100%;
}

h3.portfolioName{
    text-align: center;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin: 0 auto;
    padding: 5%;
}
@media only screen and (max-width: 1000px){
    .nameBrand{
        top: 100px;
    }
    .bannerDiv{
        height: 500px;
    }
}
@media only screen and (max-width: 768px){
    .nameBrand{
        top: 50px;
    }
    .bannerDiv{
        height: 500px;
    }
    .filler{
        height: 300px;
    }
}
#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
  
  /* Styles for the content section */
  
  .content {
    width: 77%;
    margin: 50px auto;
    font-family: 'Merriweather', serif;
    font-size: 17px;
    color: #6c767a;
    line-height: 1.9;
  }
  @media (min-width: 500px) {
    .content {
      width: 43%;
    }
    #button {
      margin: 30px;
    }
  }
  .content h1 {
    margin-bottom: -10px;
    color: #03a9f4;
    line-height: 1.5;
  }
  .content h3 {
    font-style: italic;
    color: #96a2a7;
  }
